@using Microsoft.AspNetCore.Components.Routing

@inject IGetBrandByIdUseCase GetBrandByIdUseCase
@inject IGetAuthorByIdUseCase GetAuthorByIdUseCase

@if (this.Product != null)
{
    <tr>
        <td>
            <NavLink href="@($"product/{Product.ProductId}")">
                @Product.Name
            </NavLink>
        </td>
        <td>@brand.Name</td>
        <td>@author.FirstName @author.LastName</td>
        <td>@Product.Price.ToString("c")</td>
    </tr>
}

@code {
    [Parameter]
    public Product Product { get; set; }

    private Brand brand;
    private Author author;

    protected override void OnParametersSet()
    {
        base.OnParametersSet();

        brand = GetBrandByIdUseCase.Execute(Product.BrandId);
        author = GetAuthorByIdUseCase.Execute(Product.AuthorId);
    }

}
