@if (Order != null)
{
    <tr>
        <td>
            @if (Order.DatePlaced.HasValue)
            {
                @Order.DatePlaced.Value.ToString("yyyy-MM-dd")
            }
        </td>
        <td>
            <NavLink href="@($"orderconfirm/{Order.UniqueId}")">
                @Order.OrderId
            </NavLink>
        </td>
        <td>@Order.CustomerCountry</td>
        <td>@Order.CustomerStateProvince</td>
        <td>@Order.CustomerCity</td>
        <td>@Order.CustomerName</td>
        <td>@Order.AdditionalText</td>
    </tr>
}

@code {

    [Parameter]
    public Order Order { get; set; }

}
