@page "/processorder/{id:int}"

@attribute [Authorize(Policy = "AdminOnly")]

@inject NavigationManager NavigationManager

@inject IViewOrderDetailUseCase viewOrderDetailUseCase
@inject IProcessOrderUseCase processOrderUseCase

<h3>Заказ №@order.OrderId</h3>

@if (order != null)
{
    <p>
        <b>Информация клиента:</b>
    </p>
    <p>@order.CustomerName</p>
    <p>@order.CustomerAddress</p>
    <p>@order.CustomerCity</p>
    <p>@order.CustomerStateProvince</p>
    <p>@order.CustomerCountry</p>
    <p>Трек номер заказа: @order.UniqueId</p>
    <br />

    <br />
    <table class="table">
        <thead>
            <tr>
                <th>Наименование</th>
                <th>Цена</th>
                <th>Количество</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in order.LineItems)
            {
                <tr>
                    <td>@item.Product.Name</td>
                    <td>@item.Product.Price</td>
                    <td>@item.Quantity</td>
                </tr>
            }
        </tbody>
    </table>
    <div class="form-inline">
        <div class="input-group" style="width: 100%">
            <input type="text" class="form-control" @bind-value="order.AdditionalText" placeholder="Дополнительный комментарий к заказу">
            <div class="input-group-append">
                <button class="btn btn-outline-primary" type="button" @onclick="HandleProcessOrder">Отметить заказ как обработанный</button>
            </div>
        </div>
    </div>
    <br />
}

@code {
    private AuthenticationState authState;

    [Parameter]
    public int Id { get; set; } = 0;

    [CascadingParameter]
    private Task<AuthenticationState> authStateTask { get; set; }

    private Order order;

    protected async override Task OnInitializedAsync()
    {
        authState = await authStateTask;
    }

    protected override void OnParametersSet()
    {
        base.OnParametersSet();

        if (Id > 0)
        {
            order = viewOrderDetailUseCase.Execute(Id);
        }
    }

    private void HandleProcessOrder()
    {
        if (order != null && authState != null)
        {
            processOrderUseCase.Execute(order.OrderId.Value, authState.User.Identity.Name, order.AdditionalText);
            NavigationManager.NavigateTo("outstandingorders");
        }
    }

}
