@page "/product/{id:int}"

@inject NavigationManager NavigationManager
@inject IViewProductUseCase ViewProductUseCase
@inject IAddProductToCartUseCase  addProductToCartUseCase
@inject eShop.UseCases.DeleteProductUseCase.IDeleteProductUseCase DeleteProductUseCase
@inject IGetCategoryByIdUseCase GetCategoryById
@inject IGetBrandByIdUseCase GetBrandById
@inject IGetAuthorByIdUseCase GetAuthorById

<div class="card" style="width: 28rem;">
    <div class="card-body">
        <img src="@product.ImageLink" width="100%"/>
        <h5 class="card-title">@category.Name</h5>
        <h5 class="card-title">@product.Name</h5>
        <h6 class="card-subtitle mb-2 text-muted">@brand.Name</h6>
        <h6 class="card-subtitle mb-2 text-muted">@author.FirstName @author.LastName</h6>
        <hr />
        <p>
            Цена: <label style="color:darkred">@product.Price.ToString("c")</label>
        </p>
        <p class="card-text">@product.Description</p>
    </div>
    <button class="button btn-primary" @onclick="AddToCart">Добавить в корзину</button>
    <AuthorizeView Policy="AdminOnly">
        <Authorized>
            <button class="button btn-primary" @onclick="EditProduct">Редактировать</button>
            <button class="button btn-primary" @onclick="DeleteProduct">Удалить</button>
        </Authorized>
    </AuthorizeView>
</div>
<br/>
<NavLink href="products">Вернуться</NavLink>

@code {
    private Product product;
    private Category category;
    private Brand brand;
    private Author author;

    [Parameter]
    public int Id { get; set; }

    protected override void OnParametersSet()
    {
        base.OnParametersSet();

        if (Id > 0) product = ViewProductUseCase.Execute(Id);
        category = GetCategoryById.Execute(product.CategoryId);
        brand = GetBrandById.Execute(product.BrandId);
        author = GetAuthorById.Execute(product.AuthorId);
    }

    private void AddToCart()
    {
        addProductToCartUseCase.Execute(product.ProductId);
        NavigationManager.NavigateTo("/");
    }

    private void EditProduct()
    {
        NavigationManager.NavigateTo($"/editproduct/{product.ProductId}");
    }

    private void DeleteProduct()
    {
        DeleteProductUseCase.Execute(product.ProductId);
        NavigationManager.NavigateTo("/products");
    }
}
